@charset "utf-8";
/* CSS Document */

body {
	font-family:Calibri;
	overflow: auto;
}

a:link {
	color: black;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: black;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: black;
	background-color: transparent;
	text-decoration: none;
	font-weight: bold;
}