@charset "utf-8";
/* CSS Document */

body {
	font-family:Calibri;
  overflow: auto;
  margin: 0 auto;
  overflow-y: scroll; /* Add the ability to scroll */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

ul.menubar {
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}

li {
  display:inline;
}

li a {
  display:inline-block;
  padding:10px;
	font-weight: bold;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
a:link {
	color: black;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: black;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: black;
	background-color: transparent;
	text-decoration: none;
	font-weight: bold;
}

.header {
  background-color:#FFCDCE;
  position:fixed;
  top:0px;
  left:0px;
  height:50px;
  right:0px;
  overflow:hidden;
}

.menu {
  background-color:rgb(225, 255, 205);
  position:fixed;
  top:50px;
  left:0px;
  height:40px;
  right:0px;
  overflow:hidden;
}

.content {
  background-color: beige;
  position: static;
  margin-top: 80px;
  top:80px;
  left:0px;
  right:0px;
  overflow :auto;
}

.footer {
  background-color:#D4D3FF;
  position:static;
  bottom:0px;
  left:0px;
  right:0px;
  overflow: hidden;
  margin-top: auto;
  width: 100%;
}

/*-----------------------------------------------------------------*/
/*                         Content Specific                        */
/*-----------------------------------------------------------------*/

div.indexcontent{
  font-size: 300px;
}

div.aboutimage{
  width: 200px;
  height: 200px;
  background-color: black;
  margin:0;
  padding:0;
  text-align:center;
}

div.aboutcontent{
	width:200px;
  margin:0;
  padding:0;
  text-align:center;
}

.divsep{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.CMcontainerL{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  text-align:center;
}

.CMcontainerR{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  text-align:center;
}

.CM {
	width:320px;
	height:100px;
	margin-top:5px;
	margin-bottom:20px;
	float:left;
	transition:height 0.5s;
	overflow:hidden;
}
.CM:hover{
	height:300px;
}
.CMoverlay{
	margin-top:40px;
	background-color:white;
	height:300px;
	transition: transform 0.3s;
}
.CM:hover .CMoverlay{
	transform: translateY(0px);
}
.CMbanText{
	margin-top:30px;
	font-size:25px;
	color:black;
}
.CMoverlayText{
	width:300px;
	padding-top:10px;
	margin:auto;
}

/*-----------------------------------------------------------------*/
/*                           900px Screen                          */
/*-----------------------------------------------------------------*/

@media screen and (max-width: 900px) {

  div.indexcontent{
    font-size: 150px;
  }

  .divsep{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .CMcontainerL{
    width: 320px;
    margin: 0 auto;
    text-align:center;
  }
  
  .CMcontainerR{
    width: 320px;
    margin: 0 auto;
    text-align:center;
  }
}

/*-----------------------------------------------------------------*/
/*                           400px Screen                          */
/*-----------------------------------------------------------------*/

@media screen and (max-width: 400px) {

  ul.menubar li a {
    text-align: center;
    float: none;
  }

  div.indexcontent{
    font-size: 50px;
  }

  .divsep{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .CMcontainerL{
    width: 320px;
    margin: 0 auto;
    text-align:center;
  }
  
  .CMcontainerR{
    width: 320px;
    margin: 0 auto;
    text-align:center;
  }
}
